<div class="sub-container1">
  <div class="inner">
    <div class="big-line">
      <div class="line"></div>
    </div>
    <div class="footer">
      <div class="footer-div">
        <h3>Head Office</h3>
        <p>+234 906 562 5919</p>
        <p>Km 42, Lekki-Epe Express Way,</p>
        <p>Oko-Ado, Sangotedo, Ajah, Lagos</p>
        <p>infolandwey.ng</p>
      </div>
      <div class="footer-div">
        <h3>Featured Properties</h3>
        <p>Isimi Lagos</p>
        <p>Lakowe Country Reserve</p>
        <p>Coastal Town</p>
      </div>
      <div class="footer-div">
        <h3>Company</h3>
        <p>About Us</p>
        <p>Schedule an Inspection</p>
        <p>Privacy Policy</p>
      </div>
      <div class="footer-div">
        <h3>Socials</h3>
        <p>Instagram</p>
        <p>YouTube</p>
        <p>Linkedin</p>
      </div>
    </div>
  </div>
</div>
