.sub-container1 {
  background-color: #f3f3f3;
  height: 90vh;
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.inner {
  background-color: white;
  margin-top: 10px;
  width: 86%;
  height: 90vh;
  display: flex;
  justify-content: center;
}
