<!-- <div class="sub-container1">
  <div class="inner">
    <img
      style="width: 90%; height: 80vh"
      src="/assets/maxresdefault.jpg"
      alt=""
    />

    <h1>{{name === "daniel"?"boy":"girl"}} welcome to your landingpage</h1>
    <input [(ngModel)]="inpvalue" type="text">
    <h1>{{inpValue}}</h1>

    <h1>
      <span *ngIf="hasPaid"> You are eligible</span>
      <span *ngIf="!hasPaid"> onigbese</span>
    </h1>

    <p *ngFor="let items of countries; let i in index">
      {{items}}
    </p>

    <table>
      <thead>
        <tr>
          <th>yy</th>
          <th>yy</th>
          <th>yy</th>
          <th>yy</th>
          <th>yy</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stud of users"[ngClass]="{'green-row': stud.sabi, 'red-row: !stud.sabi'}">
          <td>{{stud.name}}</td>
          <td>{{stud}}</td>
          <td>{{stud}}</td>
          <td>{{stud}}</td>
          <td>{{stud}}</td>
        </tr>
      </tbody> 
    </table>
  </div>
</div> -->
