<!-- <div class="container">
  <div class="sub-container">
    <div class="navbar1">
      <img
        style="width: 100px; height: 30px"
        src="/assets/logo-main-black.png"
        alt="Logo"
      />

      <h3>About</h3>
    </div>
  </div>
</div> -->

<!-- <app-landing></app-landing>
<app-sectiontwo></app-sectiontwo>
<app-sectionthree></app-sectionthree>
<app-footer></app-footer> -->
<!-- <app-todolist></app-todolist> -->
<!-- <app-signup-form></app-signup-form> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
